[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Jones (cjones-itglue)
[access "refs/for/refs/*"]
	read = group user/Chris Jones (cjones-itglue)
	push = group user/Chris Jones (cjones-itglue)
	label-Code-Review = -2..+2 group user/Chris Jones (cjones-itglue)
	label-Verified = -1..+1 group user/Chris Jones (cjones-itglue)
	rebase = group user/Chris Jones (cjones-itglue)
	removeReviewer = group user/Chris Jones (cjones-itglue)
	submit = group user/Chris Jones (cjones-itglue)
[access "refs/heads/*"]
	read = group user/Chris Jones (cjones-itglue)
	create = group user/Chris Jones (cjones-itglue)
	push = +force group user/Chris Jones (cjones-itglue)
	pushMerge = group user/Chris Jones (cjones-itglue)
[access "refs/tags/*"]
	push = group user/Chris Jones (cjones-itglue)
	push = +force group user/Chris Jones (cjones-itglue)
